---
import Layout from '../layouts/Layout.astro';
import { DOMParser } from "xmldom";
export async function fetchMyDocument() {
  try {
    let response = await fetch("https://raw.githubusercontent.com/JackGraymer/JackGraymer/main/README.md"); // Gets a promise
    let final = await response.text(); // Replaces body with response
    const parser = new DOMParser();
    const doc = parser.parseFromString(final, "text/html");
    return doc;
  } catch (err) {
    console.log("Fetch error:" + err); // Error handling
  }
}
---

<Layout title="Alvaro Portfolio">
	<main>
		{fetchMyDocument()}
	</main>
</Layout>