---
import Icon from '../images/icons/icons-sun.svg'
import IconGithub from '../images/icons/github-mark.svg'
import IconGithubLight from '../images/icons/github-mark-white.svg'

---

<header id="header">
    <h1 class="text-gradient"> <a id="title" href="/portfolio/">Alvaro</a> </h1>
    <div class="social">
        <a href="/portfolio/about/">About</a>
        <a href="/portfolio/#skills">Skills</a>
        <a href="/portfolio/#projects">Projects</a>
        <a href="/portfolio/#Contact">Contact</a>
    </div>
    <div class="social">
        <button class="theme"> <img src={Icon}> </button>
        <a href="https://github.com/JackGraymer" target="_blank" class="github"> <img class="gitIcon" src={IconGithubLight} alt="" width="40px"></a>
    </div>
    <button class="burger"> ☰ </button>
</header>
<div class="hamburger-nav hidden" id="hidden">
    <div class="links nav">
    <a href="/portfolio/about/">About</a>
    <a href="/portfolio/#skills">Skills</a>
    <a href="/portfolio/#projects">Projects</a>
    <a href="/portfolio/#contact">Contact</a>
    </div>
    
    <div class="social">
        <button class="theme"> <img src={Icon}> </button>
        <a href="https://github.com/JackGraymer" target="_blank" class="github"> <img class="gitIcon" src={IconGithubLight} alt="" width="40px"></a>
    </div>
</div>

<style>
    .social a{
        font-size: larger ;
    }

    header{
        z-index: 1;
        /* background-image: url("https://cdn.osxdaily.com/wp-content/uploads/2021/06/macos-monterey-12-Light-copy.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; */
        padding: 0.5em 1em;
        backdrop-filter: blur(1em);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position: sticky;
        height: 10%;
        top: 0;

    }

    .nav{
        font-weight: bold;
        font-size: large;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
        justify-self: start;
        gap: 1em;
        padding: 1em;
        margin: 0 1em;
    }

    .hamburger-nav{
        visibility: hidden;
        left: -100%;
        height: 0;
    }

    a:hover{
        text-decoration: underline;
        text-underline-offset: 0.5em;
        text-decoration-thickness: 0.1em;
        transition: 0.5s;
    }
    
    .social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    button{
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        display: flex;
        border-radius: 50%;
    }

    .burger{
        font-size: 3em;
        display: none;
    }

    .theme img, .github{
        padding: 0;
        margin: 0;
        width: 3em;
    }

    .gitIconDark{
        filter: invert(1);
    }

    #title{
        text-decoration: none;
    }

    @media screen and (max-width: 600px){
        .nav{
            display: none;
        }

        header .social{
            display: none;
        }

        .burger{
            display: flex;
            color: rgba(131, 131, 131, 0.842);
        }

        .hamburger-nav{
            position: fixed;
            padding: 1em;
            max-width: 70%;
            background-color: #8c58afcb;
            backdrop-filter: blur(1em);
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100vh; 
            transition: 500ms ease-in;
            display: grid;
            visibility: visible;
        }

        .links{
            font-size: larger;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
    }
</style>

<script>
    // Theme switcher and github icon color switcher
    let theme = document.documentElement
    let gitIcon = document.querySelector('.gitIcon')

    document.querySelectorAll('.theme').forEach(button => {
        button.addEventListener('click', () => {
            theme.setAttribute('data-theme', document.documentElement.getAttribute("data-theme") == "light" ? "dark" : "light")
            gitIcon.classList.toggle('gitIconDark')
        })
    })

    // Hamburger menu
    let hamburgerNav = document.querySelector('.hamburger-nav')
    document.querySelector('.burger').addEventListener('click', () => {
        hamburgerNav.classList.toggle('hidden')
        hamburgerNav.style.left == '0%' ? hamburgerNav.style.left = '-100%' : hamburgerNav.style.left = '0%'
        if(hamburgerNav.style.left == '0%'){
            document.querySelector('main').addEventListener('click', () => {
                hamburgerNav.style.left = '-100%'
            })
        }
    }) 
    
    
</script>