---

---
<div class="hero">


</div>

<style>

    * {
        box-sizing: border-box;
    }
    
    .hero {
        width: 100%;
        background-color: #3a2020;
        padding: 20px;
        
    }

</style>
