:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, transparent 60%);
    /* color: #F6F6F6;
    background-color: #222; */
}
html,body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

:root {
    --background-color: #eee;
    --text-color: #121416d8;
}

html[data-theme="light"] {
    background-color: #eee;
    text: #121416d8;
}

html[data-theme="dark"] {
    background-color: #212a2e;
    color: #F7F8F8;
    --link-color: #828fff;
}


code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

a{
    text-decoration: none;
    color: inherit;
}

main {
    margin: 1em auto;
    padding: 1.5rem;
    max-width: 900px;
    border: 0.2em solid #8c58afcb;
    border-radius: 1em;
}
h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

img{
    max-width: 100%;
}

blockquote{
    padding: 1em 0.5em;
    margin: 1em;
    border-left: 0.3em solid #8c58afcb;
}

blockquote p{
    margin: 0;
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: #333333e0;
    padding: 1rem;
    border-radius: 0.4rem;
}
.instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
}
.instructions strong {
    color: rgb(var(--accent));
}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

@media screen and (max-width: 954px) {
    main {
        border: none;
    }
}
    